/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-radius: 90
}
.cuenta{
	-fx-background-color: #E77418
}
.root{
	
	-fx-background-color: #188BE7
}
.text-field{
	-fx-background-color: #E77418
}